In [1]:
import pandas as pd

In [139]:
cen1 = pd.read_csv("gs://dse203_group_project/Data/Census/ACSDP5Y2020.DP05_2022-11-13T194924/ACSDP5Y2020.DP05-Data.csv",header=1)
cen2 = pd.read_csv('gs://dse203_group_project/Data/Census/ACSST5Y2020.S1903_2022-11-13T195021/ACSST5Y2020.S1903-Data.csv',header=1)
cen3 = pd.read_csv('gs://dse203_group_project/Data/Census/DECENNIALPL2020.P1_2022-11-13T194845/DECENNIALPL2020.P1-Data.csv',header=1)

cen1_cut = cen1[['Geography','Estimate!!Total housing units','Percent!!RACE!!Total population!!One race!!Black or African American','Percent!!RACE!!Total population!!One race!!Asian','Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)','Percent!!RACE!!Total population!!One race!!White']].copy()
cen2_cut = cen2[['Geography','Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households','Estimate!!Number!!FAMILIES!!Families','Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households']].copy()
cen3_cut = cen3[['Geography',' !!Total:']].copy()

cen1_cut.head()

,Geography,Estimate!!Total housing units,Percent!!RACE!!Total population!!One race!!Black or African American,Percent!!RACE!!Total population!!One race!!Asian,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race),Percent!!RACE!!Total population!!One race!!White
0,1400000US06073000100,1261,0.0,4.5,16.8,89.8
1,1400000US06073000201,1245,0.4,6.9,4.1,84.7
2,1400000US06073000202,2425,0.1,7.3,14.4,84.9
3,1400000US06073000301,1433,1.9,3.5,23.6,86.6
4,1400000US06073000302,1870,5.5,3.9,17.2,87.8

In [127]:
cen3.columns

Index(['Geography', 'Geographic Area Name', ' !!Total:',
       'Annotation of  !!Total:', ' !!Total:!!Population of one race:',
       'Annotation of  !!Total:!!Population of one race:',
       ' !!Total:!!Population of one race:!!White alone',
       'Annotation of  !!Total:!!Population of one race:!!White alone',
       ' !!Total:!!Population of one race:!!Black or African American alone',
       'Annotation of  !!Total:!!Population of one race:!!Black or African American alone',
       ...
       'Annotation of  !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of five races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       'Annotation of  !!Total:!!Population of two or more races:!!Population of five races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of five races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       'Annotation of  !!Total:!!Population of two or more races:!!Population of five races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of six races:',
       'Annotation of  !!Total:!!Population of two or more races:!!Population of six races:',
       ' !!Total:!!Population of two or more races:!!Population of six races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       'Annotation of  !!Total:!!Population of two or more races:!!Population of six races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       'Unnamed: 144'],
      dtype='object', length=145)

In [140]:
cen1_cut['Geo_id_clean'] = cen1_cut['Geography'].str[-5:].astype(int)
cen2_cut['Geo_id_clean'] = cen2_cut['Geography'].str[-5:].astype(int)
cen3_cut['Geo_id_clean'] = cen3_cut['Geography'].str[-5:].astype(int)

cen1_cut['GEOID'] = cen1_cut['Geography'].str[-11:]
cen2_cut['GEOID'] = cen2_cut['Geography'].str[-11:]
cen3_cut['GEOID'] = cen3_cut['Geography'].str[-11:]

In [141]:
df_temp = pd.merge(cen1_cut, cen2_cut, how='inner')
df = pd.merge(df_temp, cen3_cut, how='inner')

In [142]:
df.columns

Index(['Geography', 'Estimate!!Total housing units',
       'Percent!!RACE!!Total population!!One race!!Black or African American',
       'Percent!!RACE!!Total population!!One race!!Asian',
       'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)',
       'Percent!!RACE!!Total population!!One race!!White', 'Geo_id_clean',
       'GEOID',
       'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',
       'Estimate!!Number!!FAMILIES!!Families',
       'Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',
       ' !!Total:'],
      dtype='object')

In [143]:
df.drop('Geography', axis=1,inplace=True)
df.rename(columns={'Geo_id_clean':'Geo_id','Estimate!!Total housing units':'Housing_unit',
       'Percent!!RACE!!Total population!!One race!!Black or African American':'Per_Black',
       'Percent!!RACE!!Total population!!One race!!Asian':'Per_Asian',
       'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)':'Per_Hispanic',
       'Percent!!RACE!!Total population!!One race!!White':'Per_White',
       'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households':'Household_Income',
       'Estimate!!Number!!FAMILIES!!Families':'Number_Families',
       'Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households':'Median_income',
       ' !!Total:':'Total_population'}, inplace=True)
df.head(20)

,Housing_unit,Per_Black,Per_Asian,Per_Hispanic,Per_White,Geo_id,GEOID,Household_Income,Number_Families,Median_income,Total_population
0,1261,0.0,4.5,16.8,89.8,100,06073000100,1165,882,138750,2908
1,1245,0.4,6.9,4.1,84.7,201,06073000201,1176,419,81750,2001
2,2425,0.1,7.3,14.4,84.9,202,06073000202,2242,865,81806,4441
3,1433,1.9,3.5,23.6,86.6,301,06073000301,1383,346,77047,2155
4,1870,5.5,3.9,17.2,87.8,302,06073000302,1556,235,66548,2811
5,2400,4.2,14.2,29.4,63.8,400,06073000400,2136,776,76623,3794
6,1743,0.4,6.7,19.0,78.2,500,06073000500,1668,643,84414,3012
7,2040,5.8,5.4,22.0,76.0,600,06073000600,1768,407,83514,3182
8,2693,2.1,7.1,17.3,81.4,700,06073000700,2503,962,86187,4072
9,2856,4.5,4.8,20.5,82.9,800,06073000800,2808,941,75259,4890
10,1920,4.0,9.1,42.2,74.3,901,06073000901,1873,461,78897,3184
11,1582,12.9,9.3,17.2,68.0,902,06073000902,1446,381,64066,2479
12,2604,3.4,5.5,36.6,77.8,1000,06073001000,2284,756,72610,4690
13,1889,6.7,6.5,18.5,70.7,1100,06073001100,1658,609,80233,3000
14,1403,11.8,8.8,50.3,70.1,1201,06073001201,1321,378,64680,2235
15,1911,8.5,6.2,33.4,70.9,1202,06073001202,1730,517,69203,3216
16,1683,2.7,9.2,29.9,60.8,1301,06073001301,1549,484,71250,2696
17,2153,5.3,7.8,29.4,70.4,1302,06073001302,1931,442,65383,3331
18,1948,2.2,3.7,10.5,87.0,1400,06073001400,1796,602,78921,3205
19,2026,3.9,4.9,18.0,77.1,1500,06073001500,1920,725,90338,3827

In [135]:
df.tail(20)

,Housing_unit,Per_Black,Per_Asian,Per_Hispanic,Per_White,Geo_id,Household_Income,Number_Families,Median_income,Total_population
717,1098,0.7,0.1,27.0,74.6,21102,956,641,42579,2613
718,1256,0.2,0.0,16.4,83.0,21202,1061,734,79639,3073
719,1929,0.8,3.8,8.0,92.7,21204,1905,1567,113516,5491
720,2659,3.7,5.5,19.1,80.3,21205,2456,1607,83073,7029
721,1265,0.0,0.5,8.6,92.9,21206,1189,945,107583,3039
722,1443,9.9,5.5,35.8,76.0,21302,1396,1115,106500,7237
723,996,2.4,1.9,22.9,85.8,21304,963,844,127219,2709
724,1336,0.5,5.7,9.3,83.7,21305,1239,1065,105313,4389
725,1562,3.2,20.1,45.2,63.0,21306,1513,1318,139830,5762
726,1462,7.3,10.0,21.3,66.5,21401,1304,1007,94063,4383
727,1324,0.0,1.9,32.9,72.3,21402,1254,556,89531,2793
728,1271,0.0,37.2,5.2,54.3,21501,1227,1118,"250,000+",3882
729,2865,0.8,31.7,12.2,59.0,21502,2676,2332,147890,9851
730,2239,6.5,3.7,27.4,81.8,21600,993,751,85347,3584
731,1204,0.7,2.4,15.0,94.0,21800,1002,750,165750,1980
732,694,13.3,10.7,43.6,53.2,21900,659,543,43750,2625
733,1597,3.4,34.6,46.3,46.4,22000,1557,1028,49279,4526
734,1108,2.4,7.5,7.1,77.7,22101,767,578,89844,2631
735,2926,1.0,6.2,36.5,78.4,22102,2754,1988,109922,7024
736,0,-,-,-,-,90100,0,0,-,0

In [144]:
df = df[ ['Geo_id'] + [ col for col in df.columns if col != 'Mid' ] ]

In [145]:
df.drop('Geo_Id', axis=1,inplace=True)

KeyError: "['Geo_Id'] not found in axis"

In [146]:
df.to_csv('gs://dse203_group_project/Data/Census/clean_cen.csv')

In [123]:
pwd()

'/'